:root {
   --color-primary: #4F35EF;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

header{
   /* background: rgba(0, 0, 30, 0.95); */
  
}

nav {
   display: flex;
   justify-content: space-between;
   padding: 16px;
   padding-right: 10%;
   align-items: center;
   min-height: 8vh;
   font-family: 'Prompt', sans-serif;
   background-color: rgba(1, 1, 68, 0.911);
   background-blend-mode: lighten;
}

.home-bg {
   width: 100%;
   height: 100vh;
   background: url(/images/girl.svg) rgba(0, 0, 30, 0.76) no-repeat;
   background-blend-mode: darken;
   background-position: center;
   background-size: cover;
}

.logo {
   color: #d8d6e6;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 20px;
}

.nav-links {
   display: flex;
   justify-content: space-around;
   width: 40%;
}

.nav-links li {
   list-style-type: none;
}

.nav-links a {
   color: #d8d6e6;
   text-decoration: none;
   letter-spacing: 3px;
   font-weight: bold;
   font-size: 12px;
}

.burger {
   display: none;
   cursor: pointer;
}

.burger div {
   width: 25px;
   height: 2px;
   background-color: #d8d6e6;
   margin: 5px;
   transition: all 0,3s ease;
}

@media screen and (max-width:1024px) {
   .nav-links {
      display: flex;
      justify-content: space-around;
      width: 50%;
   }
}

@media screen and (max-width:768px) {

   .nav-links {
      position: absolute;
      right: 0px;
      height: 50vh;
      top: 8vh;
      background-color: rgba(1, 1, 68, 0.911);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
   }

   .nav-links li {
      opacity: 0;
      line-height: 18px;
   }

   .burger {
      display: block;
   }
}

.nav-active {
   transform: translateX(0%);
}

@keyframes navLinkFade {
   from {
      opacity: 0;
      transform: translate(50px);
   }
   to {
      opacity: 1;
      transform: translate(0px);
   }
}

.toggle .line1 {
   transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
   opacity: 0;
}

.toggle .line3{
   transform: rotate(45deg) translate(-5px, -6px);
}
